@media screen and (max-width: 39.9em) {
  .quantitySelector {
    width: 4.4rem;
  }
}

@media screen and (min-width: 40em) {
  .price {
    width: 7.25rem;
  }
  .quantity {
    width: 5.6rem;
  }
}
